//======================== containers =============================
.product-container
    display: flex
    flex-wrap: wrap
    flex-basis: 942px
    justify-content: center

.product-image-container
    flex-basis: 416px
    img
        width: 100%
        object-fit: contain
        

.product-details-container
    flex-basis: 526px

//======================== props =============================
.product-props   
    display: flex

.product-prop
    font-size: 0.75rem
    padding: 0.25rem 0.625rem
    width: fit-content
    border-radius: 0.125rem 0 0 0.125rem

.primary-prop
    color: #FFFFFFFF
    background: linear-gradient(270deg, #F5515F 0%, #FF7527 100%)
.secondary-prop
    color: #FF6600
    background-color:#FFF0E6
    display: flex
    align-items: center
    img
        margin-right: 0.625rem

//======================== description =============================
.product-description
    margin: 0.75rem 0
.product-tags
    position: absolute
    background-color: #EDF0F3
    color: #999999
    font-size: 0.75rem
    padding: 0.25rem 0.625rem
    border-radius: 0.125rem
    margin-left: 0.5rem

//======================== reviews =============================

.product-reviews
    margin: 1rem 0
    display: flex
    font-size: 0.75rem
    align-items: center
       
.star-rating
    margin-right: 0.25rem
    display: flex
    align-items: center
.star-container
    overflow-x: hidden
    margin-right: 0.25rem
    

    
.review-rating
    color:#FF6600
.review-count
    color:#999999
    margin-left: 0.25rem
.buyer-count
    margin-left: 2rem
   

